.addQuestion {
    background-color: lightblue;
}

#questionControls {
    width: 10rem; 
    z-index: 10; 
    position: fixed; 
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-left: 5px solid lightblue;
}

.card:nth-child(even) {
    border-left: 5px solid lightblue;
}

.card:nth-child(odd) {
    border-left: 5px solid lightgreen;
}
